<html>
<head>
    <title>Software Test</title>
     <link href="/static/css/styles.css" type="text/css"
      rel="stylesheet" />
</head>
<body>
    <div class=.bg-pan-left></div>
    <div id="logo">
        <img class="photo" src="/static/img/logo3.png" width="90px">
    </div>
    <h1 align="center">Software Test</h1>
    
    {% if form.errors %}
        <p style="color: red">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}
    
    <form align="center" action="/results/" method="get">
	    <div class="Sel" id="Sel1" >
	        <ul id="select">
	            <h3>Select</h3>
	            	<li> Microorganism:{{form.Microorganism}} </li> 
		            <li> Input :{{form.Input}} </li>  
		            <li> Output :{{form.Output}} </li> 
		            <li> Maxlength :{{form.MaxLength}} </li>        
	       </ul>
	    </div> 
	    <div class="Sel" id ="Sel2">
	        <ul id="selectScore">
	            <h3 >Select  Score</h3>            
	            <li> Gibbs :{{form1.Gibbs}} </li>
	            <li> Toxicity :{{form1.Toxicity}} </li>               
	            <li> Atom conservation :{{form1.conservation}} </li>  
	            <li> Internal or external :{{form1.Internal_or_external}} </li>        
	        </ul>   
	    </div>    
		<div id="sub">
	        <input type="submit" value="Submit" >
	    </div>
	</form>
    <div id="pattern">
         <img class="photo" src="/static/img/pattern4.png" width="1250px">
    </div>  
</body>
</html>

  <!--   {% if form.errors %}
        <p style="color: red">
            Microorganism =<input type="text" name="Microorganism"> -->
            <!-- lease correct the error{{ form.errors|pluralize }} below. -->
       <!--  </p>
    {% endif %}

    <form align="center" action="/results/" method="get">
    	<h3 align="center">Select</h3>
        <table align="center">
            {{ form.as_table }}
        </table>
        
        <h3 align="center">Select Score</h3>
        
        <table align="center">
            {{ form1.as_table }}
        </table> -->
       