body{
	margin: 0;
	color: #382d26;
	font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
/*	font-family: "Times New Roman", Cambria,  serif;*/
	background-color: #c9c3c1;
}

#pattern img{
	position:absolute;
	left:0px;
	bottom:0px;
	z-index: -2;
}

#logo img{
	position: fixed;
	z-index:1;
	top:8px;
	left:110px;
	border-radius: 50%;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	transition: 0.5s;
}

#logo img:hover{
	transform: scale(1.13);
	transition: 0.5s;
}

h1{
	color:#f4f4f4;;
	position: fixed;
	background-color:#443228;
	width: 100%;
	height: 50px;
	margin-top:20px;
	margin-bottom: 20px;
	padding-top: 9px;
	z-index:-1;
}

table{
	/*font-family: "Times New Roman", Cambria,  serif;*/
	font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	width:95%;
	border-spacing:0;
	position: relative;
	top:110px;
	border-radius: 6px;
	border:1px solid #666;
 }

table td, table th {
  	font-size:1em;
  	border:0.5px solid #666;
  	padding:3px 7px 2px 7px;
}

table thead th {
 	font-size:1em;
  	text-align:center;
  	padding-top:5px;
  	padding-bottom:4px;
 	background:rgba(255,255,255,0.8);
  	color:#333;
}

/*table tr:nth-child(odd){
	background: rgba(255,255,255,0.4);
}*/

table tr:nth-child(even){
	background-color:rgba(68,50,40,0.3);
}

table tr:hover{
	background-color:rgba(255,255,255,0.8);
} 

 th:first-child{
    border-radius: 6px 0 0 0;
}
 th:last-child{
    border-radius: 0 6px 0 0;
}
tr:last-child td:first-child{
    border-radius: 0 0 0 6px;
}
tr:last-child td:last-child{
    border-radius: 0 0 6px 0;
}

.button {
	position: fixed;
	bottom: 40px;
	right:40px;
  	display: inline-block;
  	border-radius: 6px;
 	background-color:rgba(68,50,40,0.9);
 	border: none;
  	color: #FFFFFF;
  	text-align: center;
  	font-size: 15px;
  	padding: 10px;
  	width:90px;
  	transition: all 0.5s;
 	cursor: pointer;
 	box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
 	outline:none;
 	/*font-family: "Times New Roman", Cambria,  serif;*/
 	font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
 	z-index: 99;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;

}

.button span:before {
  content: '«';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-left: 15px;
}

.button:hover span:before {
  opacity: 1;
  left: 0;
}

#pattern img{
	position:relative;	
	left:0px;
	top:13px;
	z-index: -2;
	opacity: 0.7;
	overflow:hidden；
}


