<html>
<head>
    <title>Software Test</title>
     <link href="/static/css/stylesM.css" type="text/css"
      rel="stylesheet" />
    <link rel="shortcut icon" href="/static/img/favicon4.ico" >
    <meta http-equiv="Page-Enter" content="blendTrans(Duration=2.0)" />

</head>
<body>
    <div class="b">
       <img class="photo" src="/static/img/main3.jpg" width="100%">
    </div>
    <div id="logo">
        <img class="photo" src="/static/img/logo1.png" width="90px">
    </div>
    <div>
      <ul class ="search">
            <li><a href="/multi_sysytem/" >Multi-organism<br/> System</a>
                <ul class="tabs">
                    <li><span>Wanna see what will a compound turn to after processed by a multi-organism system?</span></li>
                    <li style="display:list-item; list-style-type:disc; margin-left:3em">In this section, ranking criterion is thermodynamics only;</li>
                    <li style="display:list-item; list-style-type:disc; margin-left:3em">Also include one-direction search;</li>
                    <li style="display:list-item; list-style-type:disc; margin-left:3em">Choose organisms as much as you want.</li>
                 </ul>
          </li>
            <li><a href="/recommendation/">Organism<br/> Recommendation</a>
              <ul class="tabs">
                    <li>Don't know which expression system to use?</li>
                    <li style="display:list-item; list-style-type:disc; margin-left:3em">Rank all possible organisms through proper score system;</li>
                    <li style="display:list-item; list-style-type:disc; margin-left:3em">Choose the best organism and try it in experiment;</li>
                    <li style="display:list-item; list-style-type:disc; margin-left:3em">Also support one-direction search.</li>
                 </ul></li>
            <li><a href="/search/">Ordinary<br/> Search</a>
                <ul class="tabs">
                    <li>Wanna a path to a dreamy compound?</li>
                    <li style="display:list-item; list-style-type:disc; margin-left:3em"> Adjust the weights of different criteria;</li>
                    <li style="display:list-item; list-style-type:disc; margin-left:3em"> Enter required or not required compound;</li>
                    <li style="display:list-item; list-style-type:disc; margin-left:3em"> Find more detailed pathway information；</li>
                    <li  style="display:list-item; list-style-type:disc; margin-left:3em"> Support one-direction search.</li>
                 </ul></li>
        </ul>    
    </div>
<!--     <h1 align="center">Software Test</h1> -->

 
<!-- 
    <div id="pattern">
         <img class="photo" src="img/pattern8.png" width="1270px">
    </div>   -->
</body>
</html>

       